
#tblData {
    border-collapse: collapse;
    width: 100%;
  }
  
  #tblData td, #tblData th {
    border: 1px solid #d8dbe0;
    padding: 8px;
  }
  
  #tblData tr:nth-child(even){background-color: var(--content-background) }
  
  #tblData tr:hover {background-color: var(--content-background);}
  
  #tblData th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
 
  }
  .userstable {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 6px;
  }